div {
    div {

        header {
            position: fixed;
            z-index: 10;
        }
        .carousell {
            height:calc(80vh - 95px);
            position: relative;
            color: white;
            #carouselExampleControls {
                .carousel {
                    .carousel-item {
                        img {
                            height: calc(80vh - 95px);
                        }
                    }
                }
            }
            .carousell__content {
                position: absolute;
                z-index: 20;
                bottom: 35%;
                
            }
        }
        .link {
            padding: 15px 0;
            justify-content: center;
            display: flex;
            gap: 50px;
            span {
                line-height: 4;
            }
            img {
                
                
            }
        }
    }
}