div {
  .listjod {
    margin-top: 120px;
    .result {
      margin-bottom: 25px;
      #key {
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 600;
      }

      .resultchoose {
        button {
          margin: 0 20px 0 0;
          color: #222325;
          font-size: 16px;
          font-weight: 550;
          border: 1px solid #dadbdd;
          border-radius: 4px;
          text-decoration: none;
          padding: 6px 12px;
          background-color: #fff;
          i {
            font-size: 12px;
            color: #74767e;
            margin-left: 10px;
          }
        }
      }
    }

    .listjod_wrap {
      #errtext {
        .imgerr {
          height: 232px;
          img {
            height: 100%;
            margin: auto;
          }
        }

        .content_err {
          flex-direction: column;
          align-items: center;
    
          p {
            max-width: 500px;
            margin: auto;
            text-align: center;
            color: #74767e;
            font-weight: 500;
          }
        }
      }
      .listjod-item {
        padding: 15px;
        .listjod_wrap-item {
          border: 1px solid #e4e5e7;
          padding: 0;
          height: 100%;
          .img {
            height: 50%;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .text {
            padding: 12px;
            height: 38.3%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .user {
              align-items: center;
              padding-bottom: 10px;
              img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                border-radius: 50%;
              }

              .user_text {
                font-weight: 600;
                a {
                  font-size: 14px;
                  font-weight: 700;
                  color: #222325;
                  &:hover {
                    text-decoration: underline;
                  }
                }

                p {
                  font-size: 14px;
                  margin: 0;
                  color: #74767e;
                }
              }
            }

            a {
              color: #222325;
              font-weight: 500;
              transition: all 0.1s linear;
              &:hover {
                color: #1dbf73;
              }
            }

            .vote {
              padding-top: 10px;
              color: #ffbe5b;
              font-size: 14px;
              font-weight: 600;
              
              span {
                color: #b5b6ba;
                font-weight: 500;
              }
            }
          }

          .price {
            padding: 12px 12px 12px 12px;
            border-top: 1px solid #e4e5e7;
            justify-content: space-between;
            color: #b5b6ba;
            height: calc(100% - (50% + 38.3%));
          
            .buy {
              color: #74767e;
              font-weight: 600;
              font-size: 12px;
              span {
                font-size: 18px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
