div {
  .typejod {
    margin-top: 130px;
    .slider {
      .slider_img {
        background: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/3f1b7ea10295936b6846bcff0afd38cf-1626595415203/graphics-design-desktop.png")
          center / cover no-repeat;
        padding: 50px 0;
        text-align: center;
        color: white;
        border-radius: 10px;
        .title {
          font-weight: 600;
        }

        .text {
          font-size: 20px;
        }

        .slider-btn {
          padding: 10px 16px;
          background-color: #0c3b24;
          border: 1px solid #fff;
          border-radius: 5px;
          color: #fff;
          font-size: 15px;
          font-weight: 500;
          transition: all 0.2s linear;

          i {
            margin-right: 8px;
          }

          &:hover {
            background-color: #fff;
            color: #0c3b24;
          }

        }
      }

      .slider_popular {
        .popular-title {
          color: #404145;
          font-weight: 700;
          margin-top: 40px;
          margin-bottom: 20px;
        }
        .slick-slider {
            left: -8px;
            .slick-prev {
                top: -20px;
                left: 93%;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                border: 1px solid #e4e5e7;
                &::before {
                    content: "";
                    display: inline-block;
                    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
                    background-size: 16px 64px;
                    width: 16px;
                    height: 16px;
                    background-position: 0 0;
                }
            }

            .slick-next {
                top: -20px;
                right: 0;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                border: 1px solid #e4e5e7;
                &::before {
                    content: "";
                    display: inline-block;
                    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
                    background-size: 16px 64px;
                    width: 16px;
                    height: 16px;
                    background-position: 1px -48px;
                }
            }

            .slider-wrap {
                padding: 8px;
                .popular-item {
                    padding: 12px;
                    color: #404145;
                    align-items: center;
                    border-radius: 10px;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    img {
                        width: 48px;
                        height: 48px;
                    }

                    span {
                        margin: 0 10px;
                        font-weight: 600;
                    }

                    i {
                        font-size: 12px;
                    }
                }
            }
        }
      }
    }

    .content {

    }

    .typejod_services {
        padding: 32px 32px 14px;
        text-align: center;
        .services-title {
            font-weight: 600;
            color: #404145;
            margin-bottom: 48px;
        }

        .services-list {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span {
                margin: 0 6px 16px;
                padding: 3px 12px;
                background: #efeff0;
                border-radius: 50px;
                a {
                    color: #74767e;
                    font-size: 14px;
                    font-weight: 600;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
  }
}
