* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    a {
        text-decoration: none
    }
}

@import '../scss/home';
@import '../scss/footer';
@import '../scss/variables';
@import '../scss/form';
@import '../scss/jodlist';
@import '../scss/header';
@import '../scss/typejod';

.container {
    padding-left: 0;
    padding-right: 0;
}